
body{
    font-style:"Nunito",san-serif;
    /* flex column display for vertical alignment */
    display: flex;
    flex-direction: column;
    /*variable for heading color, text color, size, weight*/
    --heading-color:#F9FAF8;
    --text-color:#E5E7EB;
    --text-size:18px;
    --sign-up-color:#3882F6;
    --extra-bold:800;
}
.header{
    background-color:#1F2937;

}
.nav,.header-body{
    display: flex;
    align-items: center;
    padding:8px 160px 160px 160px;
}
.logo{
    font-size: 24px;
    color:var(--heading-color);
    margin: 0 auto 0 0;
}
.about,.link-two,.link-three{
    font-size:var(--text-size);
    color:var(--text-color);
    margin:16px;
}
.hero-text{
    display:flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto 0 0;
}
.hero-main-text{
    font-size:48px;
    font-weight: var(--extra-bold);
    color:var(--heading-color);
    margin:0;
}
.hero-secondary-text{
    font-size:var(--text-size);
    color:var(--text-color);
}
.hero-button{
    background-color: var(--sign-up-color);
    color:var(--heading-color);
    font-weight: 700;
    font-size:var(--text-size);
    border:0;
    height:40px;
    max-width:150px;
    border-radius: 8px;
}
.header-image{
    height:249px;
}
.header-info {
    font-size:36px;
    font-weight: var(--extra-bold);
    color:#1F2937;
    text-align: center;
}
.illustrations{
    display:flex;
    justify-content: center;
}
.illustration{
    width:100px;
    height:100px;
    border:10px;
    border-color:var(--sign-up-color);
}